### PROTECT FILES ###
<FilesMatch "\.(htaccess|htpasswd|ini|fla|psd|log|sh)$">
Order Allow,Deny
Deny from all
</FilesMatch>

RewriteEngine on
RewriteRule O nas onas.html
RewriteRule Team team.html
RewriteRule Klawiszologia klawiszologia.html
RewriteRule Regulamin regulamin.html
RewriteRule Strona Główna index.html